# Break and continue

In [3]:
#Odd number
for i in range(2,30,1):
    if i%2==0:
        continue
    print(i)

3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [7]:
#Even number
for i in range(2,30,1):
    if i%2!=0:
        continue# skip it print other value
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28

In [13]:
#Odd number
for i in range(2,30,1):
    if i==20:
        break#stop it right there
    print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [15]:
L1=["Rahat","Rihan"]
print(L1)

['Rahat', 'Rihan']

# List

In [23]:
L2=[1,2,3,4,5,'Mango',True,[3,5,6],'AI']
print(L2)

[1, 2, 3, 4, 5, 'Mango', True, [3, 5, 6], 'AI']

In [29]:
for i in L2:
    if i=='Mango':
        continue
    print(i)

1
2
3
4
5
True
[3, 5, 6]
AI

In [31]:
type(L2)

list

In [35]:
import sys
sys.getsizeof(L2)

128

In [37]:
L2

[1, 2, 3, 4, 5, 'Mango', True, [3, 5, 6], 'AI']

In [39]:
L2.append('AIUB')
L2

[1, 2, 3, 4, 5, 'Mango', True, [3, 5, 6], 'AI', 'AIUB']

In [43]:
l3=[1,3,2,5,4,3,5,3,45,3,2,4,4,34,23,2,3,2,4,455,43]
l3.sort()

In [45]:
l3

[1, 2, 2, 2, 2, 3, 3, 3, 3, 3, 4, 4, 4, 4, 5, 5, 23, 34, 43, 45, 455]

In [49]:
l3.reverse()

In [51]:
l3

[455, 45, 43, 34, 23, 5, 5, 4, 4, 4, 4, 3, 3, 3, 3, 3, 2, 2, 2, 2, 1]

In [53]:
l3.pop(3)

34

In [55]:
l3

[455, 45, 43, 23, 5, 5, 4, 4, 4, 4, 3, 3, 3, 3, 3, 2, 2, 2, 2, 1]

# List Comprehension

In [59]:
for i in l3:
    print(i)

455
45
43
23
5
5
4
4
4
4
3
3
3
3
3
2
2
2
2
1

In [61]:
li=[2,3,4,5,6,7]
tupple=(2,3,4,5,6,7)
se={2,3,4,5,6,7}

In [63]:
li#Mutable
tupple#Immutable
se

{2, 3, 4, 5, 6, 7}

In [65]:
li

[2, 3, 4, 5, 6, 7]

In [67]:
tupple

(2, 3, 4, 5, 6, 7)

In [69]:
print("List=",sys.getsizeof(li))
print("Tupple=",sys.getsizeof(tupple))
print("Set=",sys.getsizeof(se))

List= 104
Tupple= 88
Set= 472

# Tupple Slicing

In [72]:
tupple

(2, 3, 4, 5, 6, 7)

In [74]:
 tupple[:2] + tupple[4:]

(2, 3, 6, 7)

In [76]:
type(tupple)

tuple

In [82]:
tupple[0]

2

# Array

In [85]:
import array

# Dictionary

In [88]:
dic={
    'Name':'Sakil Hasan',
    'Age':34,
    'Varsity':'AIUB'
}

In [90]:
dic

{'Name': 'Sakil Hasan', 'Age': 34, 'Varsity': 'AIUB'}

In [92]:
type(dic)

dict

In [94]:
dic['Varsity']='American University'

In [96]:
dic

{'Name': 'Sakil Hasan', 'Age': 34, 'Varsity': 'American University'}

In [98]:
import pandas as pd

In [104]:
dic1={
    'Name':'Sakil Hasan',
    'Age':34,
    'Varsity':'AIUB',
    'Dept':'CSE'
}

In [123]:
df=pd.DataFrame([dic1])

In [129]:
l3

df

          Name  Age Varsity Dept
0  Sakil Hasan   34    AIUB  CSE

In [125]:
dic1

{'Name': 'Sakil Hasan', 'Age': 34, 'Varsity': 'AIUB', 'Dept': 'CSE'}

In [116]:
import pandas as pd 
import numpy as np

# A structured array
my_array = np.ones(3, dtype=([('foo', int), ('bar', float)]))
# Print the structured array
print(my_array['foo'])

# A record array
my_array2 = my_array.view(np.recarray)
# Print the record array
print(my_array2.foo)

[1 1 1]
[1 1 1]

In [127]:
import pandas as pd

# Creating the dictionary
dic1 = {
    'Name': 'Sakil Hasan',
    'Age': 34,
    'Varsity': 'AIUB',
    'Dept': 'CSE'
}

# Converting the dictionary into a DataFrame
df = pd.DataFrame([dic1])

# Displaying the DataFrame
df

          Name  Age Varsity Dept
0  Sakil Hasan   34    AIUB  CSE

In [131]:
df.drop('Name',axis=1)

   Age Varsity Dept
0   34    AIUB  CSE